---
import Layout from '../layouts/Layout.astro';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Improve your typing skills with Astro Type!">
    <title>Astro Type</title>
    <style>
        body {
            background-color: #fcebdf;
        }
    </style>
</head>
<body>
    <Layout>
	
    </Layout>
</body>
</html>